@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme static {
  --ui-bg: #fff9f2;
  --ui-border: #603e65;
  --ui-text-highlighted: #6e4f72;
  --font-sans: 'Public Sans', sans-serif;
  --color-highlighted: #9b74a0;
  --color-bgcolor: #fff9f2;
  --color-primary_green: #e6eedc;
  --color-secondary_green: #adba9e;
  --color-accent-500: #6e4f72;
  --color-primary_orange: #ffecd6;
  --color-primary_pink: #ffe9eb;
  --color-error: #ff0000;
  --header-height: 80px;
}
